extends layout

block content
  nav(class='breadcrumb mx-5')
    ul
      li
        a(href='/') Home
      li(class='is-active')
        a 
          p Admin

  // Link per aggiungere un nuovo post
  div(class='columns mx-6')
    div(class='column box  is-6 is-offset-one-quarter')
      h2 Amministrazione del Blog
      div(class='buttons is-centered')
        a(class='button is-primary', href='/admin/new') Aggiungi un nuovo post

  if posts.length > 0
    // Elenco dei post con opzione di cancellazione
    div(class='columns is-multiline is-centered')
      each post in posts
        div(class='column is-2 mx-5 my-3 card', style='height:max-content;')
          if post.cover_image != null
            div(class='card-image')
              figure(class='image is-4by3')
                img(src= 'uploads/' + post.cover_image, alt='Immagine Articolo')
          else
            p
          
          div(class='card-content')
            div(class='media')
              div(class='media-content')
                p(class='title is-6')= post.title

          div(class='buttons')
            a(class='button is-primary', href='/posts/' + post.id) Leggi
            a(class='button is-link', href='/admin/modify/' + post.id) Modifica
            a(class='button is-danger', href='/admin/delete/' + post.id) Cancella

  else
    p Nessun post presente