extends layout

block content
  nav(class='breadcrumb')
    ul
      li(class='is-active')
        a
          p Home

  div(class='columns is-multiline mx-6 is-centered')
    each post in posts
        div(class='column is-2 mx-5 my-3 card', style='height:max-content;')
          if post.cover_image != null
            div(class='card-image')
              figure(class='image is-4by3')
                img(src= 'uploads/' + post.cover_image, alt='Immagine Articolo')
          else
            p
          
          div(class='card-content')
            div(class='media')
              div(class='media-content')
                p(class='title is-6')= post.title

          footer(class='buttons is-centered')
            a(class='button is-success', href='/posts/' + post.id) Leggi di più